/* Fonts.css */
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./Fonts/Lato/Lato-Bold.ttf) format('truetype');
  }

@font-face {
    font-family: 'Alex Brush';
    src: url('Fonts/Alex_Brush/AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
